<div class="relative flex items-center space-x-2 rounded-lg bg-dark px-6 py-5 isolate aspect-video w-auto bg-white/20 shadow-lg ring-1 ring-black/5">
  <div class="flex flex-col items-center">

    <!-- Artist cover -->
    <%= link_to(followed_artist.artist.external_link, {target: "_blank"} ) do %>
      <div class="h-24 w-24 flex items-center justify-center rounded-full overflow-hidden">
        <%= image_tag(followed_artist.artist.cover_url, class: "h-full w-full object-cover") if followed_artist.artist.cover_url.present? %>
      </div>
    <% end %>
  </div>

  <div class="min-w-0 flex-1">
    <span class="absolute" aria-hidden="true"></span>
    <div class='inline-flex'>
      <!-- Artist Name -->
      <%= link_to(followed_artist.artist.name, followed_artist.artist.external_link, {target: "_blank", class: "text-white text-md font-medium"} ) %>
      <!-- Edit Link -->
      <%= link_to edit_spotify_followed_artist_path(followed_artist.artist), class: "ml-auto inline-flex items-center gap-x-1.5 rounded-md px-2 py-0.5 text-xs font-medium text-gray-400 shadow-sm hover:bg-green-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" do %>
        <%= heroicon "pencil", options: { class: "-ml-0.5 h-3 w-3" } %> Edit
      <% end %>
    </div>

    <!-- Artist tags -->
    <div class='flex flex-wrap'>
      <% tag_cloud(followed_artist.tags, badge_css_classes) do |tag, css_class| %>
        <%= link_to spotify_followed_artists_path(filter: tag.name) do %>
          <span class="<%= css_class %> m-1"><%= tag %></span>
        <% end %>
      <% end %>
    </div>

    <!-- Artist genres -->
    <p class="text-white text-xs">Genres :</p>
    <div class='flex flex-wrap'>
      <% followed_artist.artist.genres.each do |genre| %>
        <span class="badge-gray m-1"><%= genre %></span>
<!--        <span class="text-sm text-gray-400/50 mx-4"><%#= genre %>-->
      <% end %>
    </div>
  </div>
</div>