<section class="container mx-auto m-5 mt-10">
  <div class='mx-auto m-5 mt-10'>
    <% if !current_user %><!-- WHEN USER IS NOT SIGNED IN -->
      <h1 class='text-4xl font-bold text-green-spotify text-center'>Spotify Library</h1>
      <p class='my-5 text-green-spotify text-lg'>Log in or sign up to start enjoying your custom spotify library !</p>
      <div class='flex'>
        <%= link_to "Log in", new_user_session_path, class: "mr-2 rounded-md bg-green-spotify px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-green-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600" %>
        <%= link_to "Sign up", new_user_registration_path, class: "rounded-md bg-green-700 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-green-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600" %>
      </div>
    <% elsif current_user && !current_user&.spotify_data? %> <!-- WHEN USER IS SIGNED BUT HAS NO SPOTIFY DATA -->
      <h1 class='text-4xl font-bold text-green-spotify text-center'>Spotify Library</h1>
      <p class='my-5 text-white'>You're logged in 🤘 ! Now, connect your Spotify account 🚀</p>
      <%= link_to 'Sign in with Spotify', '/auth/spotify', method: :post, class: "rounded-md bg-indigo-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
    <% else %>  <!-- WHEN USER IS SIGNED AND HAS SPOTIFY DATA -->

      <!-- Filter by genres -->
      <%= render "spotify/followed_artists/filter_by_genres", genres: @genres %>

      <div data-controller="tag" class='flex items-center justify-around'>
        <!-- Tags -->
        <%= render "spotify/followed_artists/tag_cloud", tags: @tags %>

        <!-- Button "Refresh my artists" -->
        <%= render "spotify/followed_artists/refresh_button" %>
      </div>

      <!-- Artist list -->
      <div class="grid gap-x-20 gap-y-4 xl:grid-cols-4 lg:grid-cols-3 grid-cols-1 sm:grid-cols-2 my-8">
        <% @followed_artists.each do |followed_artist| %>
          <%= render "artist", followed_artist: followed_artist %>
        <% end %>
      </div>

      <!-- Pagination -->
      <%= paginate @followed_artists, remote: true, total_count: @total_count, limit: @limit, total_pages: @total_pages %>
    <% end %>
  </div>
</section>