<section>
  <div class='container mx-auto m-5 mt-10'>
    <h1 class='text-4xl font-bold text-green-400 text-center'>Spotify Library</h1>

    <div class='container mx-auto m-5 mt-10'>
      <% if !current_user&.spotify_data? %>
        <p class='my-5 text-white'>To use our service, first, connect your Spotify account</p>

        <%= link_to 'Sign in with Spotify', '/auth/spotify', method: :post, class: "rounded-md bg-indigo-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
      <% else %>
        <h3 class='text-xl text-white'>Followed Artists (<%= @followed_artists.size %>)</h3>

        <%= link_to 'Sync followed artists', '/auth/spotify', method: :post, class: "rounded-md bg-indigo-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>

        <div class='mt-5'>
          <% @followed_artists.each do |artist| %>
            <h4 class='text-lg text-white'><%= link_to(artist.name, artist.external_link, {target: "_blank"} ) %></h4>
            <%= image_tag(artist.cover_url, height: 160, width: 160) if artist.cover_url.present? %>
            <hr>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
</section>



