<!DOCTYPE html>
<html>
  <head>
    <title>SpotifyLibrary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class='bg-dark-spotify'>
    <main class="p-8">
      <aside>
        <% if notice %>
          <p class="p-5 text-white"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="p-5 bg-red-800 text-white"><%= alert %></p>
        <% end %>
      </aside>

      <%= render "layouts/navbar" %>
      <%= yield %>
    </main>
  </body>
</html>
