<!DOCTYPE html>
<html>
  <head>
    <title>SpotifyLibrary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class='bg-gray-800'>
    <main class="">
      <aside>
        <% if notice %>
          <p class="p-5 text-white"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="p-5 bg-red-800 text-white"><%= alert %></p>
        <% end %>
      </aside>

      <%= render "layouts/navbar" %>
      <%= yield %>
    </main>
  </body>
</html>
